body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.logo {
    position: absolute;
    top: 8px;
    left: 16px;
    padding: 0px;
    margin: 0px;
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  position: absolute;
  top: 45px;
  left: 350px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbutton a.active {
  border-bottom: 2px solid white;
}