@font-face {
  font-family: 'Lato', sans-serif;
  src:url(https://fonts.googleapis.com/css?family=Lato&display=swap)
}
body
{
    margin: 0;
    padding: 0;
    background-image: url("front_page_PNG.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}
.logo {
    position: absolute;
    top: 1%;
    left: 2%;
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Lato";
  background-color: none;
  position: absolute;
  top: 20%;
  left: 25%;
}

li {
  float: left;
}

li a {
  font-family: "Lato";
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 15px;
  text-decoration: none;
}
.active {
  border-bottom: 2px solid white;
}
.topnav-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: none;
  position: absolute;
  float: right;
  top: 20%;
  left: 72%;
}
.singup {
  color: rgb(30, 53, 227);
  background-color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  width: 100px;
  padding: 16px 16px;
  margin: 10px;

}
h1 {
  font-family: "Lato";
  position: absolute;
  top: 15%;
  left: 9%;
  color: white;

}
p {
  font-family: "Lato";
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 9%;
  color: white;
  
}
br {
  display: block;
  content: "";
}
.create button
{
  position: absolute;
  top: 65%;
  left: 9%;
 border-radius: 8px;
 padding: 20px 50px 20px 50px;
 background-color: rgb(238, 101, 101);
 border-color: transparent;
 font-family: "Lato";
 font-size: 20px;

 color:white;
}
.create button:hover
{
  background-color: rgb(241, 79, 79);
  cursor: pointer;
}
.page input[type="radio"]:checked {
  background-color: #0043ff;
  top:12.5px;
  height:20px;
  width:20px;
  border: 5px solid #f7bb07;

}
.page input[type="radio"]
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;

  background-color: #4677ff;
  color: #4677ff;
  top: 10px;
  height: 15px;
  width: 15px;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 0%;
  outline: none;
}
.page {
  position: absolute;
  left: 9%;
  top: 85%;

}
.navbar-toggler {
  align-self: center;
}